In [1]:
import pandas as pd

In [2]:
df_maps_restaurantes = pd.read_parquet(r"Generated\Google\metada_sitios.parquet")
df_maps_reviews = pd.read_parquet(r"Generated\Google\merge_site_reviews.parquet")
df_yelp_restaurantes = pd.read_parquet(r"Generated\Yelp\bussines.parquet")
df_yelp_checkin = pd.read_parquet(r"Generated\YELP\business_checkin.parquet")
df_yelp_tips = pd.read_parquet(r"Generated\Yelp\business_tip.parquet")
df_yelp_reviews = pd.read_parquet(r"Generated\Yelp\review.parquet")
df_yelp_users = pd.read_parquet(r"Generated\Yelp\users_extracted.parquet")

In [3]:
print(df_maps_restaurantes.info())
print("\n",df_maps_restaurantes.head())
print("\n",df_maps_restaurantes.describe())

<class 'pandas.core.frame.DataFrame'>
Index: 9234 entries, 124 to 212005
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   name              9234 non-null   object
 1   address           9234 non-null   object
 2   gmap_id           9234 non-null   object
 3   description       9173 non-null   object
 4   latitude          9234 non-null   float64
 5   longitude         9234 non-null   float64
 6   category          9234 non-null   object
 7   avg_rating        9234 non-null   float32
 8   num_of_reviews    9234 non-null   int32
 9   price             9175 non-null   category
 10  hours             9114 non-null   object
 11  MISC              9234 non-null   object
 12  state             9114 non-null   object
 13  relative_results  8779 non-null   object
 14  url               9234 non-null   object
dtypes: category(1), float32(1), float64(2), int32(1), object(10)
memory usage: 1019.1+ KB
None

                    name                                            address  \
124   Subway Restaurant  Subway Restaurant, 11861 S Sam Houston Pkwy W ...
147  SUBWAY®Restaurants  SUBWAY®Restaurants, 5 S Fletcher Rd, Chelsea, ...
173              Subway  Subway, 588 S Alafaya Trail #30, Orlando, FL 3...
300              Subway  Subway, 1500 S Lynn Riggs Blvd Dr, Claremore, ...
337  Subway Restaurants  Subway Restaurants, 2550 E Morris Blvd #43 A, ...

                                   gmap_id  \
124  0x8640e8127c4a6543:0xba6c7351b499686b
147  0x883cc9750a456b4f:0x1842fa7ecb22156a
173  0x88e76652cd84272f:0x548abb9935d912ff
300  0x87b65a0dddececbd:0xeac12b11b6609ad2
337  0x885b97dd2a169293:0x25956c5cb9196c24

                                           description   latitude  longitude  \
124  Casual counter-serve chain for build-your-own ...  29.652841 -95.550908
147  Casual counter-serve chain for build-your-own ...  42.296980 -83.976059
173  Casual counter-serve chain for build-your-own ...  28.537201 -81.208736
300  Casual counter-serve chain for build-your-own ...  36.294560 -95.627516
337  Casual counter-serve chain for build-your-own ...  36.220156 -83.260620

                                              category  avg_rating  \
124  [Sandwich shop, Caterer, Deli, Fast food resta...         3.8
147  [Restaurant, Caterer, Fast food restaurant, Sa...         2.3
173  [Sandwich shop, Caterer, Fast food restaurant,...         4.0
300  [Sandwich shop, Caterer, Fast food restaurant,...         3.8
337     [Sandwich shop, Caterer, Fast food restaurant]         4.1

     num_of_reviews price                                              hours  \
124               6     $  [[Thursday, 9AM–9PM], [Friday, 9AM–9PM], [Satu...
147               3     $  [[Thursday, Open 24 hours], [Friday, Open 24 h...
173              33     $  [[Wednesday, 9AM–10PM], [Thursday, 9AM–10PM], ...
300              18     $  [[Wednesday, 10AM–4PM], [Thursday, 10AM–4PM], ...
337              15     $  [[Wednesday, 10AM–9PM], [Thursday, 10AM–9PM], ...

                                                  MISC  \
124  {'Accessibility': ['Wheelchair accessible entr...
147  {'Accessibility': None, 'Amenities': ['Good fo...
173  {'Accessibility': ['Wheelchair accessible entr...
300  {'Accessibility': None, 'Amenities': ['Good fo...
337  {'Accessibility': None, 'Amenities': ['Good fo...

                      state  \
124      Permanently closed
147      Permanently closed
173  Closed ⋅ Opens 9AM Thu
300      Permanently closed
337      Permanently closed

                                      relative_results  \
124                                               None
147                                               None
173  [0x88e767b6ebb4a1e1:0x13873310e89c5a3, 0x88e76...
300  [0x87b6509e49bf311f:0x7a777c1ff0df1f95, 0x87b6...
337  [0x885b97a91a3cc117:0x71544fe233a8393, 0x885b9...

                                                   url
124  https://www.google.com/maps/place//data=!4m2!3...
147  https://www.google.com/maps/place//data=!4m2!3...
173  https://www.google.com/maps/place//data=!4m2!3...
300  https://www.google.com/maps/place//data=!4m2!3...
337  https://www.google.com/maps/place//data=!4m2!3...

           latitude    longitude   avg_rating  num_of_reviews
count  9234.000000  9234.000000  9234.000000     9234.000000
mean     37.695838   -91.534701     3.767739       53.168508
std       5.172771    15.874075     0.470825       34.871123
min      19.622353  -165.400323     1.000000        1.000000
25%      33.993199   -97.354206     3.500000       27.000000
50%      38.657197   -87.448870     3.800000       48.000000
75%      41.413222   -80.261071     4.100000       75.000000
max      71.288418   -67.867061     5.000000      160.000000

In [4]:
print(df_maps_reviews.info())
print("\n",df_maps_reviews.head())
print("\n",df_maps_reviews.describe())

<class 'pandas.core.frame.DataFrame'>
Index: 39240 entries, 226 to 2389575
Data columns (total 30 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   user_id           39240 non-null  object
 1   name_x            39240 non-null  object
 2   time              39240 non-null  int64
 3   rating            39240 non-null  int8
 4   text              18995 non-null  object
 5   pics              461 non-null    object
 6   resp              105 non-null    object
 7   gmap_id           39240 non-null  object
 8   anio              39240 non-null  int64
 9   estado            39240 non-null  category
 10  name_y            39240 non-null  object
 11  address           39240 non-null  object
 12  description       39210 non-null  object
 13  latitude          39240 non-null  float64
 14  longitude         39240 non-null  float64
 15  category          39240 non-null  object
 16  avg_rating        39240 non-null  float32
 17  num_of_reviews    39240 non-null  int32
 18  price             39216 non-null  category
 19  hours             38697 non-null  object
 20  MISC              39240 non-null  object
 21  state             38697 non-null  object
 22  relative_results  38467 non-null  object
 23  url               39240 non-null  object
 24  state_ab          37748 non-null  category
 25  us_state          37748 non-null  category
 26  dtfmt             39240 non-null  datetime64[ns]
 27  mes               39240 non-null  int32
 28  dia               39240 non-null  int32
 29  hora              39240 non-null  int32
dtypes: category(4), datetime64[ns](1), float32(1), float64(2), int32(4), int64(2), int8(1), object(15)
memory usage: 7.2+ MB
None

                    user_id             name_x           time  rating  \
226  107013931455773377715         Alex Maytm  1520372657831       4
227  107013931455773377715         Alex Maytm  1520372657831       4
228  108944304645267402755  Stephanie Kompsie  1515883628954       5
229  108944304645267402755  Stephanie Kompsie  1515883628954       5
230  105330418782163841701       Naor Wallach  1493679603864       3

                                                  text  pics  resp  \
226  very convenient location for commuters and bar...  None  None
227  very convenient location for commuters and bar...  None  None
228  had the best service today. this subway still ...  None  None
229  had the best service today. this subway still ...  None  None
230  small location which is essentially part of th...  None  None

                                   gmap_id  anio      estado  ...  \
226  0x808f80b286dc6f9b:0xb9c0ee0392825cd4  2018  California  ...
227  0x808f80b286dc6f9b:0xb9c0ee0392825cd4  2018  California  ...
228  0x808f80b286dc6f9b:0xb9c0ee0392825cd4  2018  California  ...
229  0x808f80b286dc6f9b:0xb9c0ee0392825cd4  2018  California  ...
230  0x808f80b286dc6f9b:0xb9c0ee0392825cd4  2017  California  ...

                                                  MISC               state  \
226  {'Accessibility': None, 'Amenities': None, 'At...  Temporarily closed
227  {'Accessibility': None, 'Amenities': None, 'At...  Temporarily closed
228  {'Accessibility': None, 'Amenities': None, 'At...  Temporarily closed
229  {'Accessibility': None, 'Amenities': None, 'At...  Temporarily closed
230  {'Accessibility': None, 'Amenities': None, 'At...  Temporarily closed

    relative_results                                                url  \
226             None  https://www.google.com/maps/place//data=!4m2!3...
227             None  https://www.google.com/maps/place//data=!4m2!3...
228             None  https://www.google.com/maps/place//data=!4m2!3...
229             None  https://www.google.com/maps/place//data=!4m2!3...
230             None  https://www.google.com/maps/place//data=!4m2!3...

     state_ab    us_state                   dtfmt  mes dia hora
226        CA  California 2018-03-06 21:44:17.831    3   6   21
227        CA  California 2018-03-06 21:44:17.831    3   6   21
228        CA  California 2018-01-13 22:47:08.954    1  13   22
229        CA  California 2018-01-13 22:47:08.954    1  13   22
230        CA  California 2017-05-01 23:00:03.864    5   1   23

[5 rows x 30 columns]

                time        rating          anio      latitude     longitude  \
count  3.924000e+04  39240.000000  39240.000000  39240.000000  39240.000000
mean   1.541090e+12      3.990673   2018.323522     36.705006    -90.622322
min    1.483241e+12      1.000000   2017.000000     25.442958   -124.083751
25%    1.525413e+12      3.000000   2018.000000     32.938241   -116.214975
50%    1.545858e+12      4.000000   2018.000000     38.660382    -80.235039
75%    1.560410e+12      5.000000   2019.000000     40.759626    -75.852528
max    1.577844e+12      5.000000   2019.000000     44.978737    -72.712200
std    2.401704e+10      1.245053      0.745705      5.246488     18.425737

         avg_rating  num_of_reviews                          dtfmt  \
count  39240.000000    39240.000000                          39240
mean       3.842816       65.291794  2018-11-01 16:25:56.799266816
min        1.800000        6.000000     2017-01-01 03:24:01.960000
25%        3.600000       38.000000  2018-05-04 05:42:41.029750016
50%        3.900000       58.000000  2018-12-26 21:03:20.504999936
75%        4.100000       86.000000  2019-06-13 07:14:31.615749888
max        4.900000      158.000000     2020-01-01 02:05:04.968000
std        0.367572       31.488828                            NaN

                mes           dia          hora
count  39240.000000  39240.000000  39240.000000
mean       6.658104     15.662156     12.698879
min        1.000000      1.000000      0.000000
25%        4.000000      8.000000      5.000000
50%        7.000000     15.000000     15.000000
75%       10.000000     23.000000     19.000000
max       12.000000     31.000000     23.000000
std        3.384623      8.825084      7.664524

In [5]:
print(df_yelp_restaurantes.info())
print("\n",df_yelp_restaurantes.head())
print("\n",df_yelp_restaurantes.describe())

<class 'pandas.core.frame.DataFrame'>
Index: 21655 entries, 3 to 150339
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   business_id   21655 non-null  object
 1   name          21655 non-null  object
 2   address       21655 non-null  object
 3   city          21655 non-null  object
 4   state         21655 non-null  object
 5   postal_code   21655 non-null  object
 6   latitude      21655 non-null  float64
 7   longitude     21655 non-null  float64
 8   stars         21655 non-null  float64
 9   review_count  21655 non-null  int64
 10  is_open       21655 non-null  bool
 11  attributes    21422 non-null  object
 12  categories    21655 non-null  object
 13  hours         18641 non-null  object
dtypes: bool(1), float64(3), int64(1), object(9)
memory usage: 2.3+ MB
None

                business_id                  name            address  \
3   MTSW4McQd7CbVtyjqoe9mw    St Honore Pastries        935 Race St
14  0bPLkL0QhhPO5kt1_EXmNQ  Zio's Italian Market      2575 E Bay Dr
22  kfNv-JZpuN6TVNSO6hHdkw       Hibachi Express     6625 E 82nd St
28  QdN72BWoyFypdGJhhI5r7g               Bar One       767 S 9th St
29  sqSqqLy0sN8n2IZrAbzidQ        Domino's Pizza  3001 Highway 31 W

            city state postal_code   latitude  longitude  stars  review_count  \
3   Philadelphia    CA       19107  39.955505 -75.155564    4.0            80
14         Largo    FL       33771  27.916116 -82.760461    4.5           100
22  Indianapolis    PA       46250  39.904320 -86.053080    4.0            20
28  Philadelphia    PA       19147  39.939825 -75.157447    4.0            65
29   White House    CA       37188  36.464747 -86.659187    3.5             8

    is_open                                         attributes  \
3      True  {'AcceptsInsurance': None, 'AgesAllowed': None...
14    False  {'AcceptsInsurance': None, 'AgesAllowed': None...
22     True  {'AcceptsInsurance': None, 'AgesAllowed': None...
28    False  {'AcceptsInsurance': None, 'AgesAllowed': None...
29     True  {'AcceptsInsurance': None, 'AgesAllowed': None...

                                           categories  \
3   Restaurants, Food, Bubble Tea, Coffee & Tea, B...
14        Food, Delis, Italian, Bakeries, Restaurants
22             Steakhouses, Asian Fusion, Restaurants
28  Cocktail Bars, Bars, Italian, Nightlife, Resta...
29      Pizza, Chicken Wings, Sandwiches, Restaurants

                                                hours
3   {'Friday': '7:0-21:0', 'Monday': '7:0-20:0', '...
14  {'Friday': '10:0-20:0', 'Monday': '10:0-18:0',...
22  {'Friday': '11:0-21:0', 'Monday': '11:0-21:0',...
28  {'Friday': '12:0-2:0', 'Monday': '16:0-0:0', '...
29  {'Friday': '10:0-1:0', 'Monday': '10:0-0:0', '...

            latitude     longitude         stars  review_count
count  21655.000000  21655.000000  21655.000000  21655.000000
mean      36.177228    -86.639419      3.518264     89.957977
std        4.921218     12.888722      0.826867    190.502078
min       27.674867   -120.000083      1.000000      5.000000
25%       30.031784    -90.120472      3.000000     14.000000
50%       38.735511    -82.787180      3.500000     34.000000
75%       39.949036    -75.311701      4.000000     92.000000
max       43.773686    -74.680250      5.000000   7400.000000

In [6]:
print(df_yelp_checkin.info())
print("\n",df_yelp_checkin.head())
print("\n",df_yelp_checkin.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3330 entries, 0 to 3329
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   business_id   3330 non-null   object
 1   name          3330 non-null   object
 2   address       3330 non-null   object
 3   city          3330 non-null   object
 4   state         3330 non-null   object
 5   postal_code   3330 non-null   object
 6   latitude      3330 non-null   float64
 7   longitude     3330 non-null   float64
 8   stars         3330 non-null   float64
 9   review_count  3330 non-null   int64
 10  is_open       3330 non-null   bool
 11  attributes    3296 non-null   object
 12  categories    3330 non-null   object
 13  hours         3082 non-null   object
 14  date          3330 non-null   object
dtypes: bool(1), float64(3), int64(1), object(10)
memory usage: 367.6+ KB
None

               business_id                     name                  address  \
0  aPNXGTDkf-4bjhyMBQxqpQ               Craft Hall       901 N Delaware Ave
1  lk9IwjZXqUMqqOhM774DtQ         Caviar & Bananas            2031 Broadway
2  cVBxfMC4lp3DnocjYA3FHQ        Paws The Cat Cafe         10588 109 Street
3  pJfh3Ct8iL58NZa8ta-a5w  Top Shelf Sports Lounge  3173 Cypress Ridge Blvd
4  YNjyv0gfOr2g8lbmUpTnKg              Copper Vine          1001 Poydras St

            city state postal_code   latitude   longitude  stars  \
0   Philadelphia    PA       19123  39.962582  -75.135657    3.5
1      Nashville    PA       37203  36.148371  -86.798895    3.5
2       Edmonton    FL     T5H 3B2  53.549633 -113.508780    5.0
3  Wesley Chapel    PA       33544  28.196252  -82.380615    4.5
4    New Orleans    PA       70112  29.950647  -90.074427    4.5

   review_count  is_open                                         attributes  \
0            65     True  {'AcceptsInsurance': None, 'AgesAllowed': None...
1           159    False  {'AcceptsInsurance': None, 'AgesAllowed': None...
2            20    False  {'AcceptsInsurance': None, 'AgesAllowed': None...
3            95     True  {'AcceptsInsurance': None, 'AgesAllowed': None...
4           350     True  {'AcceptsInsurance': None, 'AgesAllowed': None...

                                          categories  \
0  Eatertainment, Arts & Entertainment, Brewpubs,...
1  Coffee & Tea, Restaurants, Wine Bars, Bars, Ni...
2  Coffee & Tea, Cafes, Pets, Restaurants, Pet Ad...
3  Burgers, Sports Bars, Bars, Lounges, Restauran...
4  Nightlife, Pubs, Event Planning & Services, Wi...

                                               hours  \
0  {'Friday': '16:0-19:0', 'Monday': '0:0-0:0', '...
1  {'Friday': '7:0-17:0', 'Monday': '7:0-17:0', '...
2  {'Friday': '10:0-20:0', 'Monday': '0:0-0:0', '...
3  {'Friday': '11:30-23:30', 'Monday': '11:30-22:...
4  {'Friday': '11:0-23:0', 'Monday': '0:0-0:0', '...

                                                date
0  2019-03-09 17:44:26, 2019-03-16 23:26:17, 2019...
1  2017-06-18 17:23:58, 2017-06-20 23:47:06, 2017...
2  2017-11-30 19:49:29, 2018-01-23 22:10:48, 2018...
3  2018-02-09 22:40:05, 2018-03-25 21:01:21, 2018...
4  2018-08-31 19:34:29, 2018-09-05 22:46:19, 2018...

           latitude    longitude        stars  review_count
count  3330.000000  3330.000000  3330.000000   3330.000000
mean     36.646140   -87.867926     3.862162     69.537538
std       6.340746    13.601397     0.742487     95.014068
min      27.675539  -119.916058     1.000000      5.000000
25%      29.962122   -90.176936     3.500000     14.000000
50%      38.721235   -82.847248     4.000000     36.000000
75%      39.954260   -75.441287     4.500000     88.000000
max      53.637080   -74.711594     5.000000   1223.000000

In [7]:
print(df_yelp_tips.info())
print("\n",df_yelp_tips.head())
print("\n",df_yelp_tips.describe())

<class 'pandas.core.frame.DataFrame'>
Index: 68275 entries, 0 to 69345
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   user_id           68275 non-null  object
 1   business_id       68275 non-null  object
 2   text              68275 non-null  object
 3   date              68275 non-null  object
 4   compliment_count  68275 non-null  int64
 5   name              68275 non-null  object
 6   address           68275 non-null  object
 7   city              68275 non-null  object
 8   state             68275 non-null  object
 9   postal_code       68275 non-null  object
 10  latitude          68275 non-null  float64
 11  longitude         68275 non-null  float64
 12  stars             68275 non-null  float64
 13  review_count      68275 non-null  int64
 14  is_open           68275 non-null  bool
 15  attributes        68231 non-null  object
 16  categories        68275 non-null  object
 17  hours             66547 non-null  object
dtypes: bool(1), float64(3), int64(2), object(12)
memory usage: 9.4+ MB
None

                   user_id             business_id  \
0  1viszljzsa8W7VnYPuWosw  Zg83olSjsdXAhE5EEy5IcQ
1  YnlCpuaBa3qWBp4te8pGmA  XIKYdKWq72zUYsq8NBxcCQ
2  IE0f4Mt6rfEw26pn598doA  aPD0HkuA7MXNhZZqXiGF4g
3  BrobnxoTkPml180NhXl6kw  zjLT8ELDYxxknQ9ZLrl6_w
4  9XhCRgu_v7y-X2v4Av3HPA  fgnHM4VT-n1VjFL3YeBJsg

                                                text                 date  \
0             Order crispy and they bake it up good.  2018-04-01 01:40:12
1                The honey glazed salmon is amazing!  2018-01-14 15:00:01
2                             Great fish and chips!!  2017-09-30 22:39:11
3  Call ahead of time to make sure there isn't a ...  2017-03-18 18:22:28
4       Ordered the pad Thai shrimp and it was good!  2017-08-29 17:12:23

   compliment_count                             name  \
0                 0                        Oregano's
1                 0                       Aksum Cafe
2                 0  McCreary's Irish Pub and Eatery
3                 0  Brunchery Restaurant & Catering
4                 0             Royal Thai Bistreaux

                       address          city state postal_code   latitude  \
0        100 W Orange Grove Rd        Tucson    PA       85704  32.323157
1           4630 Baltimore Ave  Philadelphia    PA       19143  39.948547
2                  414 Main St      Franklin    PA       37064  35.924479
3  3225 S MacDill Ave, Ste 109         Tampa    PA       33629  27.915901
4      1299 Hickory Ave, Ste A       Harahan    PA       70123  29.956544

    longitude  stars  review_count  is_open  \
0 -110.973652    3.5           385     True
1  -75.216366    4.0           393     True
2  -86.870951    3.5           146     True
3  -82.494764    3.5           274     True
4  -90.202459    4.5           171     True

                                          attributes  \
0  {'AcceptsInsurance': None, 'AgesAllowed': None...
1  {'AcceptsInsurance': None, 'AgesAllowed': None...
2  {'AcceptsInsurance': None, 'AgesAllowed': None...
3  {'AcceptsInsurance': None, 'AgesAllowed': None...
4  {'AcceptsInsurance': None, 'AgesAllowed': None...

                                          categories  \
0                        Restaurants, Italian, Pizza
1  Mediterranean, Vegetarian, American (New), Res...
2  Pubs, Bars, Irish Pub, Irish, American (New), ...
3  Restaurants, Caterers, Sandwiches, Burgers, Ev...
4                                  Thai, Restaurants

                                               hours
0  {'Friday': '11:0-22:0', 'Monday': '0:0-0:0', '...
1  {'Friday': '16:0-21:0', 'Monday': '0:0-0:0', '...
2  {'Friday': '11:0-23:0', 'Monday': '11:0-22:0',...
3  {'Friday': '7:0-14:0', 'Monday': '7:0-14:0', '...
4  {'Friday': '16:30-21:30', 'Monday': None, 'Sat...

        compliment_count      latitude     longitude         stars  \
count      68275.000000  68275.000000  68275.000000  68275.000000
mean           0.008583     35.278351    -88.679581      3.867938
std            0.101037      5.070370     13.711609      0.610735
min            0.000000     27.674873   -120.000083      1.000000
25%            0.000000     29.953879    -90.192247      3.500000
50%            0.000000     36.463279    -86.151408      4.000000
75%            0.000000     39.913090    -75.681217      4.500000
max            4.000000     43.695377    -74.685404      5.000000

       review_count
count  68275.000000
mean     467.569930
std      823.074376
min        5.000000
25%       91.000000
50%      214.000000
75%      480.000000
max     7400.000000

In [8]:
print(df_yelp_reviews.info())
print("\n",df_yelp_reviews.head())
print("\n",df_yelp_reviews.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 558655 entries, 0 to 558654
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   review_id    558655 non-null  object
 1   user_id      558655 non-null  object
 2   business_id  558655 non-null  object
 3   stars        558655 non-null  int8
 4   funny        558655 non-null  int8
 5   cool         558655 non-null  int8
 6   text         558655 non-null  object
 7   date         558655 non-null  object
dtypes: int8(3), object(5)
memory usage: 22.9+ MB
None

                 review_id                 user_id             business_id  \
0  Sx8TMOWLNuJBWer-0pcmoA  bcjbaE6dDog4jkNY91ncLQ  e4Vwtrqf-wpJfwesgvdgxQ
1  lUUhg8ltDsUZ9h0xnwY4Dg  RreNy--tOmXMl1en0wiBOg  cPepkJeRMtHapc_b2Oe_dw
2  40thYphUgIfvJq17QCfTwA  QzCEzH3R7Z6erOGLr3t55Q  0pMj5xUAecW9o1P35B0AMw
3  RB8UpF_kT2xoOC51OzXEeA  EZjT2qJN0mOXypMAqZdSrQ  A2q7d-CBM2-81tVkmS4JMw
4  4KpIldEM-tdnrJLqYzRfZQ  Z5j9Xw_G0c7M2b1-iS67wg  HTqXI5S2XcSlh_ylx9sE6g

   stars  funny  cool                                               text  \
0      4      0     1  Cute interior and owner (?) gave us tour of up...
1      4      0     1  I was really between 3 and 4 stars for this on...
2      5      0     1  Great staff always helps and always nice. Alwa...
3      2      1     0  Straight to the point, it's cheap, it tastes a...
4      5      1     1  I've only had the cannolis here but they are a...

         date
0  2017-01-14
1  2018-07-17
2  2017-05-26
3  2017-07-08
4  2018-03-23

                stars          funny           cool
count  558655.000000  558655.000000  558655.000000
mean        3.695087       0.171396       0.366860
std         1.545186       0.514744       0.616285
min         1.000000       0.000000       0.000000
25%         2.000000       0.000000       0.000000
50%         4.000000       0.000000       0.000000
75%         5.000000       0.000000       1.000000
max         5.000000      43.000000      26.000000

In [9]:
print(df_yelp_users.info())
print("\n",df_yelp_users.head())
print("\n",df_yelp_users.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99015 entries, 0 to 99014
Data columns (total 23 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   user_id             99015 non-null  object
 1   name                99015 non-null  object
 2   review_count        99015 non-null  int64
 3   yelping_since       99015 non-null  datetime64[ns]
 4   useful              99015 non-null  int64
 5   funny               99015 non-null  int64
 6   cool                99015 non-null  int64
 7   elite               99015 non-null  object
 8   friends             99015 non-null  object
 9   fans                99015 non-null  int64
 10  average_stars       99015 non-null  float64
 11  compliment_hot      99015 non-null  int64
 12  compliment_more     99015 non-null  int64
 13  compliment_profile  99015 non-null  int64
 14  compliment_cute     99015 non-null  int64
 15  compliment_list     99015 non-null  int64
 16  compliment_note     99015 non-null  int64
 17  compliment_plain    99015 non-null  int64
 18  compliment_cool     99015 non-null  int64
 19  compliment_funny    99015 non-null  int64
 20  compliment_writer   99015 non-null  int64
 21  compliment_photos   99015 non-null  int64
 22  elite_len           99015 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(17), object(4)
memory usage: 17.4+ MB
None

                   user_id    name  review_count       yelping_since  useful  \
0  j14WgRoU_-2ZE1aw1dXrJg  Daniel          4333 2009-01-25 04:35:42   43091
1  2WnXYQFK0hXEoTxPtV2zvg   Steph           665 2008-07-25 10:41:00    2086
2  SZDeASXq7o05mMNLshsdIA    Gwen           224 2005-11-29 04:38:33     512
3  q_QQ5kBBwlCcbL1s4NVK3g    Jane          1221 2005-03-14 20:26:35   14953
4  xoZvMJPDW6Q9pDAXI0e_Ww    Ryan           535 2009-05-27 06:12:10    1130

   funny   cool                                              elite  \
0  13066  27281  [2009, 2010, 2011, 2012, 2013, 2014, 2015, 201...
1   1010   1003                     [2009, 2010, 2011, 2012, 2013]
2    330    299                                 [2009, 2010, 2011]
3   9940  11211  [2006, 2007, 2008, 2009, 2010, 2011, 2012, 201...
4    487    573                           [2009, 2010, 2011, 2012]

                                             friends  fans  ...  \
0  ueRPE0CX75ePGMqOFVj6IQ, 52oH4DrRvzzl8wh5UXyU0A...  3138  ...
1  LuO3Bn4f3rlhyHIaNfTlnA, j9B4XdHUhDfTKVecyWQgyA...    52  ...
2  enx1vVPnfdNUdPho6PH_wg, 4wOcvMLtU6a9Lslggq74Vg...    28  ...
3  xBDpTUbai0DXrvxCe3X16Q, 7GPNBO496aecrjJfW6UWtg...  1357  ...
4  6tbXpUIU6upoeqWNDo9k_A, Vlab9b73R5qPLIv6tE4DJA...    31  ...

   compliment_profile  compliment_cute  compliment_list  compliment_note  \
0                 184              157              251             1847
1                  10               17                3               66
2                   1                6                2               12
3                 191              361              147             1212
4                   1                3                5               31

   compliment_plain  compliment_cool  compliment_funny  compliment_writer  \
0              7054             3131              3131               1521
1                96              119               119                 35
2                16               26                26                 10
3              5696             2543              2543                815
4                41               36                36                 24

   compliment_photos  elite_len
0               1946         14
1                 18          5
2                  9          3
3                323          9
4                  7          4

[5 rows x 23 columns]

        review_count                  yelping_since         useful  \
count  99015.000000                          99015   99015.000000
mean     281.001111  2012-01-08 16:48:11.262414848     836.042206
min        1.000000            2004-10-12 08:46:11       0.000000
25%      106.000000            2009-11-29 20:12:00     129.000000
50%      178.000000            2011-09-20 20:37:29     269.000000
75%      325.000000     2014-02-03 13:41:47.500000     622.000000
max    17473.000000            2020-11-15 12:14:51  206296.000000
std      364.432217                            NaN    3269.671606

               funny           cool          fans  average_stars  \
count   99015.000000   99015.000000  99015.000000   99015.000000
mean      382.725425     558.009049     29.946776       3.942432
min         0.000000       0.000000      0.000000       2.310000
25%        27.000000      52.000000      5.000000       3.710000
50%        72.000000     117.000000     12.000000       3.940000
75%       208.000000     309.000000     27.000000       4.180000
max    185823.000000  199878.000000  12497.000000       5.000000
std      2077.998281    2860.711375    107.443318       0.347025

       compliment_hot  compliment_more  compliment_profile  compliment_cute  \
count    99015.000000     99015.000000        99015.000000     99015.000000
mean        46.490259         6.154977            4.347543         3.225966
min          0.000000         0.000000            0.000000         0.000000
25%          1.000000         0.000000            0.000000         0.000000
50%          5.000000         2.000000            0.000000         0.000000
75%         16.000000         4.000000            2.000000         1.000000
max      25784.000000      4347.000000         7039.000000      2974.000000
std        349.486881        43.253374           58.900780        29.845040

       compliment_list  compliment_note  compliment_plain  compliment_cool  \
count     99015.000000     99015.000000      99015.000000     99015.000000
mean          1.684826        32.722769         76.084391        71.561986
min           0.000000         0.000000          0.000000         0.000000
25%           0.000000         3.000000          4.000000         4.000000
50%           0.000000         7.000000          9.000000        10.000000
75%           0.000000        18.000000         25.000000        29.000000
max        2607.000000     59031.000000     101097.000000     49967.000000
std          23.612298       274.395327        614.067347       463.551727

       compliment_funny  compliment_writer  compliment_photos     elite_len
count      99015.000000       99015.000000       99015.000000  99015.000000
mean          71.561986          26.784800          27.894723      4.944029
min            0.000000           0.000000           0.000000      2.000000
25%            4.000000           2.000000           0.000000      3.000000
50%           10.000000           6.000000           2.000000      4.000000
75%           29.000000          16.000000           6.000000      6.000000
max        49967.000000       15934.000000       56104.000000     17.000000
std          463.551727         157.101787         352.241900      2.817519